        h3 {
            color:#66CCFF;
            font-family: algerian;
            position: absolute;
            right: 130px;
            top: 320px;
        }
        aside p {
            text-align: center;
            background-color: darkgreen;
            color: white;
            font-size: 15px;
        }

        body {

            background-color:#999999;
            background-image:url(../images/back1.jpg);
            background-repeat: repeat-x;
        }

        details {
            color:#CC66CC;
            font-family:"ו";
            font-size: 15px;
        }
        h1 {
            font-family:"ו";
            color:#00CCFF;
            font-size: 20px;
            position: absolute;
            top: 0px;
            right: 50px;
        }
        article p {
            color: black;
            font-size: 15px;
            font-family: arial;
            width: 550px;
        }

       h5 {
           font-family: arial;
           color: white;
           font-size: 16px;
           float:right;
        }
        h2 {
            color: darkgreen;
            font-family: algerian;
            position: relative;
            top: 0px;
            right: 0px;
            left: 500px;
        }
        details ul {
            color:#00CCFF;
            font-size: 15px;
       }
        h4 {
            color:#0099CC;
            font-family:"ו";
        }
        video {
            position: absolute;
            right: 50px;
            top: 380px;
        }
        #mainDivContainer H4 {
            color: darkgreen;
            font-size: 24px;
        }
       .auto-style1 {
            color: #FFFFFF;
           font-style: italic;
        }
        #callus {
            height: 80px;
            width: 50px;
            float:right;
        }

nav a:hover{ 
color: pink; 
} 
nav a{
display: inline;
text-decoration: none;
color:white;
}
@keyframes multicolor
{
	0%{color:darkgreen;}
	40%{color:hotpink;}
	60%{color:darkgreen;}
	80%{color:hotpink;}
	}
@-webkit-keyframes multicolor
{
	0%{color:darkgreen;}
	40%{color:hotpink;}
	60%{color:darkgreen;}
	80%{color:hotpink;}
	}
	.auto-style2{
		font-size:40px;
		animation:multicolor 5s infinite;
		-webkit-animation:multicolor 5s infinite;
		}
		
		.da1 
{   
width:161px; height:130px;   
background-image:url(images/da1.gif);   
position:absolute;   
top:250px;   
left:550px;   
cursor:pointer;  
} 